.cart {
  width: 25%;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  padding: 0.5rem;
}

.cart h1,
h2 {
  text-align: center;
}

.cartItem-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.cartItem {
  padding: 0.3rem;
  width: 100%;
  height: 7rem;
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
.cartItem img {
  width: 40%;
  height: 98%;
  object-fit: contain;
  flex: 1 1 0px;
}
.cartItem-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 0px;
}

.qty-change {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  flex: 1 1 0px;
}

.qty-change button {
    padding-inline: 0.7rem;
    padding-block: 0.5rem;
    cursor: pointer;
}